body{
    width: 100%;
}

.logo{
    padding-left: 5px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    margin-bottom: 10px ;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: salmon; */
}

.mrgn-btn-btm{
    margin-right: 2px;
    margin-bottom: 20px;
    border-color: #EF3777;
    background-color: white;
    color: silver;
    
}

.itm-rgt{
    
}
.img-mn{
    width: 300px;
    height: 300px;
    background-color: none;
}

.clr-txt{
    color: #4DB5E1;

}

.frm-btns{
    margin-right: 20px;

}

.mdl-cntnt{
    color: rgb(77, 181, 225);
}

.spc-btwn-btn{
    margin-right: 10px;
}

.item-nav-bar{
    display: flex;
    justify-content: space-around;
}

.item-nav-bar ul li{
    display: inline-block;
    justify-content: space-around;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.brdr-clr{
    border-style: solid;
    border-color: #EF3777;
}

.mrgn-chbx-1{
    margin-left: -145px;
}

.mrgn-chbx-2{
    margin-left: -128px;
}

.tag-name{
    width: auto;
    height: 50px;
    /* background-color: teal; */
    margin-top: -20px;
    text-align: center;
}

.chkbx{
    margin-left: 32px;
}

.brd-clr-bl{
    border-color: #EF3777;
    color: #4DB5E1;

}

.cntr-col{
    display: flex;
    justify-content: center;
    align-self: flex-end;

}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    height: auto;
    margin-top: 10px;
}

.item{
    text-align: center;
    margin: 5px;
}

.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: 420px;
    margin-top: 10px;
}

.tst-center{
    text-align: center;
    padding: 0 10px;
    padding-top: 20px;
}

.txt-tst-brdr{
    border-top: solid #4DB5E1;
} 

.item-2{
    text-align: center;
}

.footer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 1px;
    width: auto;
    height: 200px;
    margin-top: 10px;
    background-color: violet;
}
.item-f{
    text-align: center;
    background-color: teal;
}

.padre {
    padding: 1rem;
    margin: 1rem;
    width: auto;
   
  }

  .sq-sec {
    background-color: yellow;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sq-sec2 {
    background-color: yellow;
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }

  .agnda-h2{
      display: flex;
      justify-content: center;
  }

  .contenedor-img{
      width: auto;
      height: 350px;
      padding: .5rem;
      margin: .5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  .img-mn{
    border-style: solid;
    border-color: teal;
  }
  .img-ctn{
      margin: 1px;
  }

  .test-ph{
      margin: 20px 10px 10px 10px;
  }

  .img-div-il{
    display: flex;
    justify-content: center;
    width: auto;
    padding-top: 50px;
  }

  .img-src{
    border-radius: 50%;
    background-color: palevioletred;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qns-cont{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
  }

  .qns-itm{
      background-color: peru;
      width: auto;
      height: 400px;
  }

  .qns-itm img{
      width: 300px;
      height: 300px;
      padding: 50px;
  }

 .qnsoy{
     padding-top: 50px;
     margin: 0em;
 }