body{
    width: 100%;
}

.logo{
    padding-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: salmon;
}

.item-nav-bar{
    display: flex;
    justify-content: space-around;
}

.item-nav-bar ul li{
    display: inline-block;
    justify-content: space-around;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.tag-name{
    width: auto;
    height: 50px;
    background-color: teal;
    margin-top: -20px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    width: auto;
    height: 600px;
    margin-top: 10px;
}

.item{
    text-align: center;
    background-color: teal;
}

.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: auto;
    height: 400px;
    margin-top: 10px;
}

.item-2{
    text-align: center;
    background-color: teal;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    width: auto;
    height: 200px;
    margin-top: 10px;
    background-color: violet;
}

.item-f{
    text-align: center;
    background-color: teal;
}